{
  "plugins": ["prettier-plugin-astro"],
  "tabWidth": 4,
  "useTabs": true,
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "semi": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
